<!-- HEADER -->
<div class="col-xs-12 header">
<h2>FindMe</h2>
</div>
<!-- HEADER END -->

<!-- CONTENT -->
<div class="col-xs-12 content">
{{outlet}}
</div>
<!-- CONTENT END -->

<!-- FOOTER -->
<div class="col-xs-12 footer">
<span>about</span>
</div>
<!-- FOOTER END -->


